@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;

}

/*NAVIGATION*/
.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(236, 236, 236, 0.79);
  height: 3em;
  padding-top: 1em;
  padding-bottom: .5em;

  width: 100vw;
  justify-content: space-around;

}

.navbar a {
  text-decoration: none;
  /*margin: .2em 2em 2em 2em;*/
  font-size: 2em;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  color: #f67052;
}

@keyframes link {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

/*INTRODUCTION*/
.intro {
  height:33em;
  padding-top: 14em;
  text-align: center;
  background: url('../images/world.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px black;

}
.intro h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  padding: 1em 0em 0em .75em;
}

.description {
  /*width: 100%;*/
  color: white;
  height: 26em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  margin: 0em 3em 2em 3em;
  border-radius: 15px;
}

.description h1 {
  margin-top: 0;
  margin-bottom: 22px;
  padding: 0;
  font-weight: 600;
  color: white;
  opacity: 1;
  font-size: 6em;
  letter-spacing: 12px;

}

.description h2 {
  margin-bottom: 2em;
  opacity: 1;
  font-weight: 600;
  font-size: 2.2em;
  letter-spacing: 1px;
}

.description p {
  width: 30em;
  font-size: 25px;
  font-weight: 600;
  opacity: 1;
}

/*PORTFOLIO STYLES */
.port {
  font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  color: RGB(90, 90, 88);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 52em;
  background-color: RGB(255, 255, 255);
  align-items: center;
  letter-spacing: 2px;

}

.port h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

.port h3{
  margin: 0;
  padding: 1em 0em 0em 3em;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: RGB(244, 244, 244);
}

.description2 {
  width: 100%;
  color: black;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description2 h1 {
  margin-top: 1em;
  margin-bottom: .1em;
  padding: 0;
  font-weight: 600;
}

.description2 h2 {
  margin-bottom: .3em;
  font-weight: 600;

}

.description2 p {
  width: 30em;
  font-size: 25px;
  font-weight: 600;
}

#project-title {
  margin-top: .5em;
}

.portfolio {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100vw;
}

.calculator {
  width: 250px;
  height: 250px;
}

.itunes {
  width: 250px;
  height: 250px;
}


/*SKILLS*/

.achivements {
  font-size: 1em;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  margin: 0;
  padding-top: 2em;
  color: black;
  top: -1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 45em;
  background-color: RGB(238, 238, 238);
  justify-content: space-around;
  letter-spacing: 4px;
}

.skills {
  justify-content: center;
  display: flex;
}

.skillsBody h2 {
  justify-content: center;
  display: flex;
  /*margin: 2em;*/
}

.skillsBody p {
  justify-content: center;
  display: flex;
  margin: 2em;
}

.icon {
    width: 40px;
    height: 40px;
    border: solid 1px #555555;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    line-height: 45px;
    color: black;
}


.icon i {
  color: black;
  font-size: 1.3em;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
}

.ach a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4em 2em 0em 2em;
  opacity: .5;
}

#line {
  display: flex;
  justify-content: center;
  background-color: green;
  width: 100%;
  height: 3px;
  /*margin: 1em 0em 0em 3em;*/
}


/*CONTACT*/

.contact {
  height: 9em;
  background-color: RGB(90, 90, 88);
  color: RGB(236, 236, 236);
  font-family: 'Raleway', sans-serif;

}

.contact p {
  margin: 0;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight:500;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}

.link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: RGB(236, 236, 236);
}

.link a:hover {
  transform: translateY(-.75em);
  transition: all 200ms ease-in-out
}

.link a i {
  font-size: 4em;
  margin-bottom: .25em;
}

.link img {
  width: 4em;
  margin-bottom: 1em;
}
.link img:hover {
  color: #f67052;
}


.link span {
  font-family: 'Saira+Condensed', sans-serif;
  font-size: 1.5em;
}

/**** Tablet Styles ***********************************/

@media handheld, screen and (max-width: 750px) {

  .navbar {
    display: flex;
    justify-content: center;
    background-color: RGB(236, 236, 236);
    width: 100vw;
    height: 18em;
    scroll-behavior: smooth;
    align-items: center;
  }

  .navbar a {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    transition: all 0.2s ease-in-out;
  }

  .intro {
    height: 30em;
    background-color: RGB(236, 236, 236);
  }

  .intro h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    padding: .5em 0em 0em .75em;
    margin: 0;
  }

  .intro h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: .5em 0em 0em .75em;
    margin: 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about p {
    margin: 0;
    width: 15em;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
  }

  .port {
    height: 30em;
    background-color: RGB(90, 90, 88);
  }
  .port h1 {
    margin: 0;
    padding: .5em 0em 0em .75em;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    color: RGB(236, 236, 236);
  }



  .achivements {
    height: 80em;
    background-color: RGB(236, 236, 236);
  }

  .contact {
    height: 20em;
    background-color:  RGB(90, 90, 88);
    color: RGB(236, 236, 236);
  }

  .contact p {
    margin: 0;
    padding: 1em 0em 1em 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
  }

  .link {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 0em;
    margin-bottom: 2em;
  }

  .link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  .link a:hover {
    transform: translateY(-.75em);
    transition: all 200ms ease-in-out
  }

  .link a i {
    font-size: 4em;
    margin-bottom: .25em;
  }

  .link img {
    width: 4em;
    margin-bottom: 1em;
  }

  .link span {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
  }

}

/**** Mobile Styles ***********************************/

@media handheld, screen and (max-width: 440px) {

  .navbar {
    background-color: #434854  ;
    display: flex;
    justify-content: center;
    height: 16em;
    scroll-behavior: smooth;
    flex-direction: column;

  }

  .navbar a {
    display: flex;
    justify-content: space-between;
  margin: .2em 2em 2em 2em;
  font-size: 2em;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  transition: all 0.2s ease-in-out;

    }
  .intro {
    background-color: RGB(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1px;
  }

  .intro h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    margin: 20px;
    text-align: center;
  }

  .description2 p{
    /*margin: 2em;*/
    width: 10em;
  }

  .description {
    margin: 0 0 0em 1em;
    /*font-size: 18px;*/
  }

  .description p {
    width: 18em;
  }

  .port {
    height: 100em;
  }

  .portfolio{
    padding-top: 15em;
    flex-flow: row wrap;
    margin-top: 1em;
    /*justify-content: space-around;*/
  }

  .port h1{
    color: RGB(236, 236, 236);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    margin: 12em 1em 1em 0em;
  }


  .section2 {
    text-orientation: right;
    text-align: center;
  }

  .achivements {
    height: 55em;
    background-color: RGB(236, 236, 236);
    color: black;
  }

  .skills h1{
    margin-left: 2em;
    margin-right: 2em;
  }


  .contact {
    height: 15em;
    background-color: RGB(90, 90, 88);
    color:  RGB(236, 236, 236);
  }

  .contact p {
    margin: 0;
    padding: .5em .5em .2em .5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
  }

  .link {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #EDEBBB;
    padding: .75em;
  }

  .link a:hover {
    transform: none;
    transition: none;
  }

  .link a i {
    font-size: 4em;
    margin-bottom: .25em;
  }

  .link img {
    width: 4em;
    margin-bottom: 1em;
  }

  .link span {
    font-family: 'Ralewat', sans-serif;
    font-size: 1.5em;
  }

}
